<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text 2 Image Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital" rel="stylesheet" />

</head>

<body>
    {% block content %}
    <div class="hero">

        <div class="box">
            <h1>Text 2 Image Generator</h1>
            <p>Transform Your Words into Vivid Art</p>
            <form class="input-box" method="post" action="{% url 'generate_image' %}">
                {% csrf_token %}
                <input type="text" name="user_prompt" id="" placeholder="Enter a prompt">
                <div class="right">
                    <div class="orientation">
                        <p>1x1</p>
                        <img src="{% static 'images/Vector.svg' %}" alt="">
                    </div>
                    <button class="btn" type="submit">
                        <p>Generate</p>
                        <img src="{% static 'images/carbon_magic-wand-filled.svg' %}" alt="">
                    </button>
                </div>

            </form>
        </div>
    </div>
    {% endblock %}
</body>

</html>